/*Foreword

    Charlie's Theme Version 1.4.4
        By ProbablyAsexual: https://anilist.co/user/ProbablyAsexual
        Github: https://github.com/ProbablyAsexual/
        Discord: UncivilPizza#5112

/*Variables

These can be changed at your own discretion. A short description of each variable is provided.*/

:root, .site-theme-dark .user-page-unscoped.purple {
    --logo-width: 65px; /*Height of the logo.*/
    --logo-height: 55px; /*Width of the logo. I recommend you change this to fit the aspect ratio of the image you're using.*/
    --logo-transition-time: 0.7s; /*How long it takes the logo to scale and rotate when hovered over.*/
    --head-width: 80%; /*The width of the header and footer.*/
    --nav-width: 80%; /*The width of the content section.*/
    --curvyness: 8px; /*How round rounded corners are: higher number = rounder*/
    --curvyness-head: 100px; /*How round rounded corners are: higher number = rounder*/
    --box-opacity: 0.6; /*How opaque the box behhind the content section is: higher number = less seethrough.*/
    --underline-time: 0.7s; /*How long it takes for navbar links to be underlined.*/
    --stats-transition-time: 1.0s; /*How long it takes for the stats section to expand when hovered over.*/
    --favourite-scale: 1.1; /*How much the favourite images scale when hovered over.*/
    --favourite-time: 0.2s; /*The time taken for the favourite animation to finish.*/
    --cursor-url: url('https://i.imgur.com/SFiJiDK.png');
    --background-img: url("https://i.imgur.com/00PyZ6Y.jpg");
    --footer-img: url("");
    --color-text: 220, 220, 220;
    --color-text-lighter: 192,192,192;
    --color-foreground: 34, 35, 87, 1;
    --color-text-light: 181, 181, 181;
    --color-blue: 99, 86, 219;
    --color-blue-dim: 134, 125, 219;
    --color-overlay: 37, 31, 49;
    --background-milestone: linear-gradient(270deg,#6356db,#867ddb);
    --color-header: 229, 231, 234;
    --opacity-header: 1;
}

/*Changes the activity box*/

.list.small > div > div.status > a {
    width: 230px;
    display: block;
    height: 20px;
}

.activity-feed > div > div.wrap > div.list.small > a::before {
    content: "";
    background: inherit;
    width: 20%;
    height: 113%;
    display: block;
    z-index: -3;
    position: absolute;
    top: -5px;
    left: 14px;
    -webkit-filter: blur(1.7px);
}

/*Changes the bell*/

.time .action.active[data-v-04d66030] {
    color: rgb(var(--color-text));
}

.site-theme-dark .nav-unscoped.transparent {
    background: rgba(34, 35, 87, var(--opacity-header));
    color: rgb(var(--color-header));
}

.site-theme-dark .nav-unscoped.transparent:hover {
    background: rgba(34, 35, 87, var(--opacity-header));
    color: rgb(var(--color-header));
}

.site-theme-dark .nav-unscoped {
    background: rgba(34, 35, 87, var(--opacity-header));
    color: rgb(var(--color-header));
}

body {
    font-family: 'Poppins', Overpass, sans-serif;
}

/*history*/

.history-day[data-v-b79eb0f0] {
   border-radius: 15px;
}

/*milestones*/

.footer[data-v-815ccddc] {
    background: none;
}

.user-page-unscoped.purple .progress .bar {
    background: var(--background-milestone);
}

/*noScroll
This section makes the about section and activities display in full instead of having to scroll them.*/

.about .content-wrap[data-v-5c30286e], .text[data-v-04d66030] .markdown {
    max-height: none;
    overflow: hidden;
}

/*logoChanger*/

.logo[data-v-62eacfff], .user[data-v-62eacfff] {
    width: var(--logo-width);
    height: var(--logo-height);
    transition: transform var(--logo-transition-time);
}

/*header*/

.nav[data-v-62eacfff] {
    width: var(--head-width);
    border-style: hidden;
    border-bottom-left-radius: var(--curvyness-head);
    border-bottom-right-radius: var(--curvyness-head);
    left: calc((100% - var(--head-width))/2);
}

/*hides banner*/

.hide[data-v-62eacfff] {
    top: 0px;
}

/*hideBanner

This removes the banner image.*/

.banner{
    visibility: hidden !important;
}

.banner-content{
    visibility: visible !important;
}

/*niceContent

This surrounds the overview, favourites previews, status posts, etc. with a transparent box and turns the navbar into a nice-looking top.*/

.nav-wrap[data-v-1cc2919e]{
    width: var(--nav-width);
    margin: auto;
    border-top-left-radius: var(--curvyness);
    border-top-right-radius: var(--curvyness);
}

.nav[data-v-1cc2919e] {
    font-size: 16px;
}

.content{
    /*This ensures that all the content stays within the semi-opaque background.*/
    max-width: var(--nav-width);
    padding: 0%;
}

.overview[data-v-5c30286e], .medialist[data-v-0567dd85], .favourites:not(.favourites[data-v-3f86aedd], .favourites[data-v-ddf96a3c]), 
.stats[data-v-1e00b9da], .user-social[data-v-e4963b98], .review-wrap[data-v-5e6a17b4]{
    /*This section handles the semi-opaque background for each profile section.*/
    margin: 0% 0% 2% 0%;
    padding: 2% 5% 5% 5%;
    background-color: rgba(0,0,0,var(--box-opacity));
    border-bottom-left-radius: var(--curvyness);
    border-bottom-right-radius: var(--curvyness);
}

.submissions[data-v-3ed82f3f]{
    /*This is a fix for an annoying part of the submissions section. If you want to know more, try removing this part and see what happens.*/
    min-width: 100%;
    margin: 0% 0% 2% 0% !important;
    padding: 2% 5% 5% 5% !important;
    background-color: rgba(0,0,0,var(--box-opacity));
    border-bottom-left-radius: var(--curvyness);
    border-bottom-right-radius: var(--curvyness); 
}

.content[data-v-0369a0cf]{
    /*A fix for the review section making the text centred properly.*/
    max-width: 100% !important
}

/*The following blocks make all the corners curved.*/

.favourites[data-v-3f86aedd],.review-card[data-v-0369a0cf], .follow-card, .avatar[data-v-39573fe2],
.bar-chart-wrap[data-v-46edc0ca], .pie-chart.vertical-layout[data-v-26dc9635], 
.draggable[data-v-202815eb],.favourites-wrap[data-v-3f86aedd], .list-section, .filters,
.el-input__inner, .random-btn[data-v-063397cc], .hohButton, .filter-group:first-child > span, .el-input,
.content-wrap, .wrap[data-v-1bf2cf4e], .input[data-v-c574a71c]  a.router-link-active, .hohActive, .thread-card[data-v-70ae1ba4],
.hohSocialContent, .hohThemeSwitch, .filter-group a[data-v-1e00b9da], .button[data-v-c574a71c], .primary-links[data-v-04b245e6], 
.reply[data-v-732ef224], .markdown-editor, .theme-switch, .image, img, .youtube, blockquote, .embed[data-v-13cdaed6], .wrap{
    border-radius: var(--curvyness) !important
}

.medialist.cards .entry-card .title{
    border-radius: 0px 0px var(--curvyness) var(--curvyness) !important;
}

.el-textarea__inner{
    border: 2px hidden;
    border-radius: var(--curvyness) !important
}

.el-textarea{
    /*This makes the curved input area in status replies work.*/
    background: none
}

.content-wrap[data-v-5c30286e], .content-wrap[data-v-5c30286e]:hover{
    /*This is a fix for an annoying problem where a vertical line appears on the side of the About section.*/
    overflow-y: hidden!important
}

.filter-group:first-child > span .count{
    /*This moves the text of the list filters inwards so it doesn't clip through the curved border.*/
    right: var(--curvyness) !important
}

.theme-switch[data-v-0567dd85]{
    /*This moves the theme switcher at the top right of media lists downwards.*/
    margin-top: 20%
}

/*This section gives the navbar the underline when you hover over links. Thank Anzu for that one.*/

.nav > .link {
    position: relative;
}
.nav > .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background: rgb(var(--color-blue));
    transition: all var(--underline-time) ease;
}
.nav > .router-link-active::after {
    left: 0;
    width: 100%;
    background: rgb(var(--color-blue));
}
.nav > .link:hover::after {
    left: 0;
    width: 100%;
    background: rgb(var(--color-blue));
}

/*This hides part of the stats preview and reveals it when hovered over. Thanks again, Anzu.*/

.list-stats:nth-child(1), .list-stats:nth-child(2) {
    height: calc(121px - 45px);
    transition: all var(--stats-transition-time) ease-in-out;
}
.list-stats:nth-child(1):hover, .list-stats:nth-child(2):hover {
    height: 121px;
    transition-duration: var(--stats-transition-time);
}

/*This makes the title text more readable.*/

h2{
    color: rgb(189,203,219) !important;
}

/*favourites

This improves the favourites section a lot.*/

.favourite[data-v-ddf96a3c]{
    /*This makes the picture curved and handles an important part of the transition.*/
    overflow: visible !important;
    border-radius: var(--curvyness);
    transition: var(--favourite-time);
}

.favourite[data-v-ddf96a3c]:hover{
    /*This makes the image expand when hovered over.*/
    transform: scale(var(--favourite-scale));
    overflow: visible;
    z-index: 100;
}

.favourites-wrap[data-v-ddf96a3c]{
    /*This makes the Favourites section more visually pleasing; it packs the images closer together, and curves the boxes.*/
    overflow: visible;
    padding: 20px;
    grid-gap: 10px;
    border-radius: var(--curvyness);
}

/*.favourites[data-v-ddf96a3c] {
    background: rgba(102, 156, 237, 0.5);
    margin: auto;
    border-radius: var(--curvyness);
    height: auto;
}*/

.favourites.preview .favourites-wrap .favourite[data-v-ddf96a3c], .favourites.preview .favourites-wrap>div[data-v-ddf96a3c] {
    border: 2px solid rgb(var(--color-blue-dim));
}

.overview .favourite.studio {
    /*Changes the studio boxes*/
    font-size: 12px;
    min-height: 45px;
    max-height: 45px;
}

.overview .favourite.studio::after {
    /*Removes studio image*/
    content: none;
}

/*fancyFooter

This gives the footer a similar design to the header.*/

.wrap[data-v-0f519cab] {
    /*This makes the footer the same width as the header and centres it.*/
    max-width: var(--head-width);
    margin: auto;
}

.footer[data-v-0f519cab] {
    /*This curves the footer's corners and lightens the background to the same color as the header.*/
    border-radius: var(--curvyness) var(--curvyness) 0px 0px;
    background: rgba(34, 35, 87, var(--opacity-header));
    color: rgb(var(--color-header));
}

/*backgroundFix

If you're using a custom background image, this section is required to use fancyFooter. 
If not, you can always leave this out, or you can add one by replacing the url with your own.*/

body{
    background: var(--background-img) center top / 100% fixed;
}

/*scrollbarFix

This is required if you're using backgroundFix. If you're not, don't bother adding this bit.*/

::-webkit-scrollbar-thumb{
    /*This handles the 'thumb', or the bit that you click and drag.*/
    background: none;
    background-color: rgb(var(--color-blue));
}

::-webkit-scrollbar-track{
    /*This handles the 'track', or the line along which the thumb slides.*/
    background: none;
}

/*colorLinks

This makes links turn blue on hover.*/

.primary-link-text[data-v-38edf8f8]{
    /*This makes the link the right colour when it is not interacted with.*/
    color: rgb(173,192,210);
}

.primary-link, .secondary-link, .footer[data-v-38edf8f8]{
    /*This sets the color that the text usually goes when hovered over to the profile them color.*/
    --color-gray-800: rgb(var(--color-blue)) !important;
    --color-gray-900: rgb(var(--color-blue))!important;
}

.link[data-v-4fbac4e1]:hover{
    /*This handles the links that aren't covered by the above block.*/
    color: rgb(var(--color-blue)) !important;
}

/*customCursor*/

* {
    /*This sets the cursor to the custom one for every element, including text and hyperlinks.*/
    cursor: var(--cursor-url), auto;
}

.markdown-spoiler:before, .el-dropdown-menu__item, .search[data-v-62eacfff] svg, .user[data-v-62eacfff], .actions .action[data-v-04d66030], .time .action[data-v-04d66030], .el-dropdown[data-v-eb51fd0e], .favourite[data-v-0317d914], .overview .favourite.studio {
    /*This fixes the issue of spoiler tags reverting the cursor to the original.*/
    cursor: var(--cursor-url), auto;
}

.activity-feed-wrap[data-v-eb51fd0e] {
    max-height: auto !important;
    overflow: auto;
}