@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+JP:wght@300&display=swap");

:root {
    --logo-width: 65px;
    --logo-height: 100px;
    --logo-time: 0.5s;
    --logo-scale: 1.1;
    --logo-image: url("https://i.imgur.com/NruXRy5.png");
    --head-width: 100%;
    --nav-width: 80%;
    --feed-height: 4940px;
    --scroll-width: 0px;
    --curvyness: 10px;
    --curvyness-head: 100px;
    --curvyness-social: 35px;
    --curvyness-fav: 6px;
    --curvyness-activity: 10px;
    --curvyness-list: 10px;
    --curvyness-history: 15px;
    --curvyness-loadmore: 6px;
    --loadmore-time: 0.4s;
    --box-opacity: 0.6;
    --border-fav: 3px;
    --underline-time: 0.7s;
    --stats-transition-time: 0.75s;
    --favourite-scale: 1.05;
    --favourite-time: 0.4s;
    --list-scale: 1.05;
    --list-time: 0.4s;
    --activity-time: 0.3s;
    --activity-border: 3px;
    --avatar-image: url("https://i.imgur.com/RxdKVEh.png");
    --cursor-url: url("https://i.imgur.com/qtxRLwX.png");
    --background-img: url("https://i.imgur.com/vPgO8FI.png");
    --footer-img: url("https://i.imgur.com/kj1U8w8.png");
    --content-width: 100%;
    --ksyoz-color-background: 23, 26, 33, 1;
    --ksyoz-color-background-t: 23, 26, 33, 0.99;
    --ksyoz-color-background-d: 18, 20, 26, 1;
    --ksyoz-color-sub: 136, 183, 219;
    --ksyoz-color-brightest: 255, 255, 255;
    --ksyoz-color-brighter: 212, 212, 212;
    --ksyoz-color-bright: 200, 200, 200;
    --ksyoz-color-main: 152, 201, 239;
    --ksyoz-color-main-d: 116, 160, 194;
    --ksyoz-color-post: 159, 173, 189;
    --ksyoz-color-overlay: 28, 21, 46;
    --ksyoz-color-header: 229, 231, 234;
    --opacity-header: 1;
    --transition-img: 0.5s;
    --transition-txt: 0.6s;
    --drop-shadow: drop-shadow(0px 0px 6px black);
    --drop-shadow-b: drop-shadow(0px 0px 6px white);
    --blur-activity: 1.5px;
    --blur-activity2: 1.75px;
    --blur-backdrop: 3px;
    --border-socials: 2px;
    --social-time: 0.5s;
    --social-scale: 1.05;
    --scroll: 960px;
    /*--gif1: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjY2aTJ0aDllMnl3aGQzd3gyc2FkajY5dmFnY3BhbGc4NzR4eDNmeSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cxReraxQ5TEqAnI6h3/giphy.gif");*/
    --gif-akane: url("https://i.imgur.com/Hd8RK72.gif");
    --gif-kei: url("https://i.imgur.com/uoLEhRq.gif");
    --gif-lena: url("https://i.imgur.com/2EObd6C.gif");
    --gif-delta: url("https://i.imgur.com/58qs1Fy.gif");
    --gif-mikasa: url("https://i.imgur.com/EqAu18N.gif");
    --gif-yotsuba: url("https://i.imgur.com/9FlvtgD.gif");
    --gif-asuna: url("https://i.imgur.com/lKLDSVe.gif");
    --gif-rui: url("https://i.imgur.com/k9k7Xnv.gif");
    --gif-violet: url("https://i.imgur.com/bsONPgn.gif");
    --gif-lucy: url("https://i.imgur.com/A2D5X7E.gif");
    --gif-mayuri: url("https://i.imgur.com/4lasn1R.gif");
    --gif-erina: url("https://i.imgur.com/EHoainq.gif");
    --gif-shinobu: url("https://i.imgur.com/p9y6213.gif");
    --gif-bambi: url("https://i.imgur.com/cfWxSIv.gif");
    --gif-vermeil: url("https://i.imgur.com/2MwR31Y.gif");
    --gif-cha: url("https://i.imgur.com/cKXOFgl.gif");
    --gif-shin: url("https://i.imgur.com/n4owKaK.gif");
    --gif-eren: url("https://i.imgur.com/erx1OUA.gif");
    --gif-urahara: url("https://i.imgur.com/RP9SV6r.gif");
    --gif-giyu: url("https://i.imgur.com/Ffgs3FI.gif");
    --gif-akaza: url("https://i.imgur.com/nL1lNsA.gif");
    --gif-joseph: url("https://i.imgur.com/va5EwCr.gif");
    --gif-megumi: url("https://i.imgur.com/PhWZNsi.gif");
    --gif-katsura: url("https://i.imgur.com/kVRp20e.gif");
    --gif-okita: url("https://i.imgur.com/fyaAivX.gif");
    --gif-ayanokouji: url("https://i.imgur.com/5VegPOM.gif");
    --gif-delay: 1s;
    --gif-delay2: 1s;
    --akane-tag: "QUEEN";
    --akane-width: 470px;
    --akane-column: span 5;
}

.site-theme-dark {
    --scroll: none;
    --gif-akane: url("https://s4.anilist.co/file/anilistcdn/character/large/b203384-YuSppFDMw2wn.png");
    --gif-kei: url("https://s4.anilist.co/file/anilistcdn/character/large/b141122-6Zk52eU3VK3O.png");
    --gif-lena: url("https://s4.anilist.co/file/anilistcdn/character/large/b141061-jqIhB9jmClQ3.png");
    --gif-delta: url("https://s4.anilist.co/file/anilistcdn/character/large/b162248-57Xgk6EmwKRQ.png");
    --gif-mikasa: url("https://s4.anilist.co/file/anilistcdn/character/large/b40881-F3gr1PkreDvj.png");
    --gif-yotsuba: url("https://s4.anilist.co/file/anilistcdn/character/large/b126374-MiOaRIGQj4fg.png");
    --gif-asuna: url("https://s4.anilist.co/file/anilistcdn/character/large/b36828-j5ib0adAzGMx.png");
    --gif-rui: url("https://s4.anilist.co/file/anilistcdn/character/large/b127596-VJjQQk2uWrgM.png");
    --gif-violet: url("https://s4.anilist.co/file/anilistcdn/character/large/b90169-4wr1Zehnsac8.png");
    --gif-lucy: url("https://s4.anilist.co/file/anilistcdn/character/large/b5186-izgXf2S86K9u.png");
    --gif-mayuri: url("https://s4.anilist.co/file/anilistcdn/character/large/b35253-u6QVgLLyHq2W.png");
    --gif-erina: url("https://s4.anilist.co/file/anilistcdn/character/large/b75284-4Hiyq7DOwvy7.png");
    --gif-shinobu: url("https://s4.anilist.co/file/anilistcdn/character/large/b136070-MC9LLxJsHyHE.png");
    --gif-bambi: url("https://s4.anilist.co/file/anilistcdn/character/large/b64511-zr1ivnK8qPF2.jpg");
    --gif-vermeil: url("https://s4.anilist.co/file/anilistcdn/character/large/b171759-sgjVEczQZ8i4.jpg");
    --gif-cha: url("https://s4.anilist.co/file/anilistcdn/character/large/b138789-AhE8m0LWjE7E.png");
    --gif-shin: url("https://s4.anilist.co/file/anilistcdn/character/large/b141060-ZJFvHqBBSvhN.png");
    --gif-eren: url("https://s4.anilist.co/file/anilistcdn/character/large/b40882-dsj7IP943WFF.jpg");
    --gif-urahara: url("https://s4.anilist.co/file/anilistcdn/character/large/b210-mw01NrQfRjzT.png");
    --gif-giyu: url("https://s4.anilist.co/file/anilistcdn/character/large/b130050-qsLThJs5VIbz.png");
    --gif-akaza: url("https://s4.anilist.co/file/anilistcdn/character/large/b141694-0COi0GVXPuEn.png");
    --gif-joseph: url("https://s4.anilist.co/file/anilistcdn/character/large/b6356-RImEfUfHpC58.png");
    --gif-megumi: url("https://s4.anilist.co/file/anilistcdn/character/large/b126635-L0y3I92JSUkN.png");
    --gif-katsura: url("https://s4.anilist.co/file/anilistcdn/character/large/b1533-EN0IUUtm3w8D.png");
    --gif-okita: url("https://s4.anilist.co/file/anilistcdn/character/large/b2282-X0uYqwmwxiPo.png");
    --gif-ayanokouji: url("https://s4.anilist.co/file/anilistcdn/character/large/b123212-ewZgUQr9vvEM.png");
    --gif-delay: 0s;
    --gif-delay2: 0s;
    --akane-tag: "";
    --akane-width: 85px;
    --akane-column: span 1;
}

/* /////////APPLIES TO EVERYTHING///////// */

* {
    cursor: var(--cursor-url), auto;
    scrollbar-width: none;
}

#nav .wrap>.user,
#app .transparent .search svg,
#app .transparent .search svg,
#app .search svg,
.theme-preview:is(.default, .dark),
#app .favourites.preview .favourites-wrap .favourite,
#app .favourites.preview .favourites-wrap>div,
#app .user .activity-feed-wrap .section-header .el-dropdown-menu__item,
#app .activity-entry>.wrap>.time .action.active,
#app .wrap>.time>.extras-dropdown .el-dropdown-link,
.el-dropdown-menu__item,
#app .activity-feed-wrap>h2>.el-dropdown,
.actions .action,
#app .reply-wrap>.activity-replies>.reply>.header>.actions,
#app .reply-wrap>.activity-replies>.reply>.header>.actions .action,
#app button,
#app [title="Link"],
#app [title="Image"],
#app [title="Youtube Video"],
#app [title="WebM Video"],
.markdown-editor>div,
#app .actions>.button.cancel,
#app .actions>.button,
#app .load-more,
.theme-switch .icon,
#app .filters>.filter-group span,
#app .medialist.cards .entry-card .edit,
.medialist .entry-card:hover .plus-progress,
.medialist .entry:hover .plus-progress,
#app .random-btn,
#app .hohButton,
#app .section-header>.actions>div,
#app .favourites>.favourites-wrap>.favourite,
#app .delete,
#app .stats>.filters>.filter-wrap>.filter-group a,
#app .filter-group a.router-link-active,
#app .switch>.options>.option.active,
#app .heading .switch .option:hover,
#app .unfollow,
svg:not(:root).svg-inline--fa,
#app .button,
#app .actions .action,
.action.likes .button,
.like-wrap.thread_comment .button,
.list-editor-wrap .header .favourite,
#app .list-editor-wrap .header .save-btn,
#app .list-editor-wrap .el-input__inner,
.el-select .el-input .el-select__caret,
.el-input-number.is-controls-right .el-input-number__decrease,
.el-input-number.is-controls-right .el-input-number__increase,
.el-input__icon,
.el-date-editor .el-icon-circle-close,
#app .custom-lists>.checkbox>.el-checkbox,
#app .el-checkbox__label,
#app .list-editor-wrap .list-editor .body .delete-btn,
.el-picker-panel__icon-btn,
.el-date-picker__header-label,
.el-date-table td,
.el-select-dropdown__item,
#app .el-input--small .el-input__inner,
#app .el-slider__button,
#app .el-slider__runway,
.el-slider__button-wrapper.hover,
.el-slider__button-wrapper:hover,
.hohChangeScore,
.theme-switch .icon,
.result {
    cursor: var(--cursor-url), auto !important;
}

body {
    font-family: Overpass, sans-serif;
    background: var(--background-img) center top / 100% fixed;
}

h1 {
    color: rgb(var(--ksyoz-color-bright));
}

a:hover,
a:visited:hover,
.markdown a,
.markdown a:visited {
    color: rgb(var(--ksyoz-color-main));
}

a:visited {
    color: rgb(var(--ksyoz-color-brightest));
}

.about .markdown>center>div {
    background: rgb(var(--ksyoz-color-background));
    background-image: url("https://i.imgur.com/kj1U8w8.png");
    background-repeat: repeat;
    background-size: 1920px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    animation: loadingstars 3s ease forwards 1s;
}

/* /////////APPLIES TO MULTIPLE///////// */

#app .header-wrap {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}

#app .overview .section-header {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .overview,
#app .medialist,
#app .favourites,
#app .stats,
#app .user-social,
#app .user-reviews,
#app .submissions {
    max-width: 1520px;
    margin: 0% 0% 2% 0%;
    padding: 2% 5% 5% 5%;
    background-color: rgb(var(--ksyoz-color-background-t));
    border-bottom-left-radius: var(--curvyness);
    border-bottom-right-radius: var(--curvyness);
}

#app .favourites,
#app .review-card,
#app .follow-card,
#app .bar-chart-wrap,
#app .pie-chart.vertical-layout,
#app .draggable,
#app .favourites-wrap,
#app .list-section,
#app .filters,
#app .el-input__inner,
#app .random-btn,
#app .hohButton,
#app .filter-group:first-child>span,
#app .el-input,
#app .content-wrap,
#app .wrap,
#app .input a.router-link-active,
#app .hohActive,
#app .thread-card,
#app .hohSocialContent,
#app .hohThemeSwitch,
#app .filter-group a,
#app .button,
#app .primary-links,
#app .reply,
#app .markdown-editor,
#app .theme-switch,
#app .image,
#app .youtube,
#app .blockquote,
#app .embed,
#app .wrap {
    border-radius: var(--curvyness);
}

.site-theme-dark .quick-search.el-select .el-input.el-input__inner,
.site-theme-dark .quick-search .el-select .el-input.is-focus .el-input__inner,
.site-theme-dark .el-select-dropdown,
.site-theme-dark .el-dropdown-menu,
.site-theme-dark .el-dropdown-menu__item--divided::before {
    background: rgb(var(--ksyoz-color-background-d));
}

/*
#app .activity-history, #app .medialist.cards .entry-card .cover .image {
    border-radius: var(--curvyness);
}
*/
/* /////////KEYFRAMES///////// */

@keyframes loadingstars {
    0% {
        background-position: 0 0;
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        background-position: 0px -400px;
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes stars {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0px -1080px;
    }
}

@keyframes strikethrough {
    0% {
        height: 0;
        left: 10px;
    }

    100% {
        height: 80%;
        left: 25px;
    }
}

/* /////////HEADER///////// */

.site-theme-dark .nav-unscoped.transparent,
.site-theme-dark .nav-unscoped,
.site-theme-dark .nav-unscoped.transparent:hover,
#nav {
    background: rgb(var(--ksyoz-color-background));
    color: rgb(var(--ksyoz-color-brightest));
}

#nav {
    width: var(--head-width);
    height: 80px;
    border-style: hidden;
    border-bottom-left-radius: var(--curvyness-head);
    border-bottom-right-radius: var(--curvyness-head);
    left: calc((100% - var(--head-width)) / 2);
}

#nav .wrap[data-v-62eacfff] {
    max-width: 1750px;
}

#nav .wrap>.logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: var(--logo-height);
}

#nav .wrap>.logo img {
    content: var(--logo-image);
    height: var(--logo-height);
    width: auto;
}

#nav .wrap>.links {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

#nav .links>.link {
    color: rgb(var(--ksyoz-color-brightest));
}

#nav .links>.link:hover {
    color: rgb(var(--ksyoz-color-main));
}

#nav .link:hover {
    color: rgb(var(--ksyoz-color-main));
}

#nav .links>.link:nth-child(3) {
    margin-right: 200px;
}

#nav .links>.link:nth-child(4) {
    margin-left: 200px;
}

#nav .wrap>.search {
    position: absolute;
    left: 0;
    margin-left: 100px;
}

#app .transparent .search svg,
#app .transparent .search svg,
#app .search svg {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .transparent .search svg:hover {
    color: rgb(var(--ksyoz-color-main));
}

#nav .wrap>.user {
    position: absolute;
    right: 0;
    margin-right: 100px;
}

#nav .dropdown>.footer {
    background: rgb(var(--ksyoz-color-background));
    color: rgb(var(--ksyoz-color-bright)) !important;
    text-transform: capitalize;
}

#nav .dropdown>.footer a:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .hide {
    top: 0px;
}

/* /////////DROPDOWN BROWSE///////// */

#app .browse-wrap>.dropdown {
    background: rgb(var(--ksyoz-color-background-d));
}

#nav .dropdown>.footer a:hover .icon {
    color: rgb(var(--ksyoz-color-main));
}

#app .primary-link-text {
    color: rgb(var(--ksyoz-color-brighter));
    text-transform: capitalize;
}

#app .primary-link-text:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .secondary-links {
    color: rgb(var(--ksyoz-color-brightest));
    text-transform: capitalize;
}

#app .secondary-links a {
    color: rgb(var(--ksyoz-color-bright))
}

#nav .secondary-links a:hover {
    color: rgb(var(--ksyoz-color-main));
}

/* /////////PROFILE DROPDOWN///////// */

#nav .user .chevron {
    color: rgb(var(--ksyoz-color-brightest));
}

#nav .user-wrap>.dropdown {
    background: rgb(var(--ksyoz-color-background-d));
}

#nav .user-wrap>.dropdown::before {
    color: rgb(var(--ksyoz-color-background-d));
}

#nav .primary-links>.primary-link {
    color: rgb(var(--ksyoz-color-brighter));
}

#nav .primary-link .icon {
    color: rgb(var(--ksyoz-color-brighter));
}

#nav .primary-links>.primary-link:hover {
    color: rgb(var(--ksyoz-color-main));
}

#nav .primary-link:hover .icon {
    color: rgb(var(--ksyoz-color-main));
}

/* /////////BANNER///////// */

#app .banner {
    visibility: hidden !important;
    height: calc(100vh - 46px) !important;
}

#app .banner-content {
    visibility: visible !important;
}

/* /////////PFP AND NAME///////// */

#app .banner .container {
    flex-direction: column-reverse;
}

#app .banner-content>.avatar {
    content: var(--avatar-image);
    max-height: none;
    max-width: 700px;
    position: absolute;
    left: 50%;
    margin-left: -350px;
}

#app .banner-content>.name-wrapper {
    margin-bottom: 250px;
    position: absolute;
    left: 70%;
}

#app .banner-content h1.name {
    font-size: 40px;
    display: block;
}

.name-wrapper::after {
    content: "黒川" "あかね";
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: repeating-linear-gradient(to right, white, white, white, white, white);
    position: absolute;
    filter: drop-shadow(0px 0px 2px black);
    margin: 0 0 0 20px;
}

/* /////////NAVIGATION///////// */

#app .nav-wrap>.nav {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
}

#app .nav-wrap>.nav .link {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .nav-wrap>.nav .link:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .nav-wrap>.nav .router-link-active {
    color: rgb(var(--ksyoz-color-main));
}

#app .nav>.link {
    position: relative;
}

#app .nav>.link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background: rgb(var(--ksyoz-color-main));
    transition: all var(--underline-time) ease;
}

#app .nav>.router-link-active::after {
    left: 0;
    width: 100%;
    background: rgb(var(--ksyoz-color-main));
}

#app .nav>.link:hover::after {
    left: 0;
    width: 100%;
    background: rgb(var(--ksyoz-color-main));
}

#app .header-wrap>.nav-wrap {
    max-width: 1520px;
    width: var(--nav-width);
    margin: auto;
    border-top-left-radius: var(--curvyness);
    border-top-right-radius: var(--curvyness);
    overflow: hidden;
    background: rgb(var(--ksyoz-color-background-t));
}

#app .nav-wrap>.nav {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
}

/* /////////OVERVIEW///////// */

#app .content.container {
    width: var(--nav-width);
    height: auto;
    padding: 0%;
}

/* /////////MILESTONES///////// */

#app .stats-wrap {
    grid-column-gap: 0px;
}

#app .stats-wrap>.list-stats:nth-child(1) {
    background: rgb(var(--ksyoz-color-main)) !important;
    border-bottom: 3px solid rgb(var(--ksyoz-color-main)) !important;
    border-top: 3px solid rgb(var(--ksyoz-color-main)) !important;
    border-left: 3px solid rgb(var(--ksyoz-color-main)) !important;
    border-right: transparent !important;
    border-radius: var(--curvyness-activity) 0px 0px var(--curvyness-activity);
}

#app .stats-wrap>.list-stats:nth-child(2) {
    background: rgb(var(--ksyoz-color-main)) !important;
    border-bottom: 3px solid rgb(var(--ksyoz-color-main)) !important;
    border-top: 3px solid rgb(var(--ksyoz-color-main)) !important;
    border-left: transparent !important;
    border-right: 3px solid rgb(var(--ksyoz-color-main)) !important;
    border-radius: 0px var(--curvyness-activity) var(--curvyness-activity) 0px;
}

#app .stat .value,
#app .stat .label {
    color: rgb(var(--ksyoz-color-background)) !important;
}

#app .list-stats.content-wrap>.footer {
    display: none;
    background: rgb(var(--ksyoz-color-background-d));
}

/* /////////BIO///////// */

#app .about>div.content-wrap {
    border: 3px solid rgb(var(--ksyoz-color-main));
    border-radius: var(--curvyness-activity);
    background: rgb(var(--ksyoz-color-background));
    scrollbar-width: none;
}

#app .about .content-wrap,
#app .text .markdown {
    max-height: var(--scroll);
    overflow: hidden;
}

/* /////////PINNED POST///////// */

.hohPinned .wrap {
    border: var(--activity-border) solid rgb(var(--ksyoz-color-main));
    border-radius: var(--curvyness-activity);
    transition: var(--activity-time);
    background: rgb(var(--ksyoz-color-background));
    color: rgb(var(--ksyoz-color-post));
}

#app .activity-entry.hohPinned.activity-text>.wrap>.text>.header,
#app .hohPinned .time,
#app .hohPinned .actions {
    display: none;
}

#app .hohPinned .markdown {
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#app .hohPinned .markdown img {
    margin-top: 30px;
    border-radius: 5px;
    max-height: 800px;
    max-width: 100%;
    width: 600px;
    border: 3px solid rgb(var(--ksyoz-color-main));
}

/* /////////ACTIVITY HISTORY///////// */

#app .activity-history {
    background: rgb(var(--ksyoz-color-main)) !important;
    border: 3px solid rgb(var(--ksyoz-color-main));
    border-radius: var(--curvyness-activity);
}

#app .history-day {
    border-radius: var(--curvyness-history);
    background: rgb(var(--ksyoz-color-background));
}

#app .history-day.lv-1,
#app .tooltip .circle.lv-1 {
    background: rgba(var(--ksyoz-color-brightest), 0.7);
}

#app .history-day.lv-2,
#app .tooltip .circle.lv-2 {
    background: rgb(var(--ksyoz-color-brightest), 0.75);
}

#app .history-day.lv-3,
#app .tooltip .circle.lv-3 {
    background: rgba(var(--ksyoz-color-brightest), 0.8);
}

#app .history-day.lv-4,
#app .tooltip .circle.lv-4 {
    background: rgba(var(--ksyoz-color-brightest), 0.85);
}

#app .history-day.lv-5,
#app .tooltip .circle.lv-5 {
    background: rgba(var(--ksyoz-color-brightest), 0.9);
}

#app .history-day.lv-6,
#app .history-day.lv-7,
#app .tooltip .circle.lv-6,
#app .tooltip .circle.lv-7 {
    background: rgb(var(--ksyoz-color-brightest), 0.95);
}

#app .history-day.lv-8,
#app .history-day.lv-9,
#app .tooltip .circle.lv-8,
#app .tooltip .circle.lv-9 {
    background: rgb(var(--ksyoz-color-brightest));
}



/* /////////GENRE OVERVIEW///////// */

#app .desktop:nth-child(3) {
    display: none
}

/* /////////FAVORITES OVERVIEW///////// */

#app .overview>.section>.favourites {
    padding: 0px !important;
}

#app .favourites.preview>.favourites-wrap {
    overflow: visible;
    padding: 0px !important;
}

#app .favourites.preview .favourites-wrap .favourite,
#app .favourites.preview .favourites-wrap>div {
    border: var(--border-fav) solid rgb(var(--ksyoz-color-background-d));
    color: rgb(var(--ksyoz-color-brighter));
    transition: 1s;
}

#app .favourites.preview .favourites-wrap .favourite:hover,
#app .favourites.preview .favourites-wrap>div:hover {
    border: var(--border-fav) solid rgb(var(--ksyoz-color-main)) !important;
    color: rgb(var(--ksyoz-color-brighter));
    transition: 1s;
}

#app .favourite:hover {
    transform: scale(var(--favourite-scale));
    overflow: visible;
    z-index: 100;
}

#app .favourites.preview .favourites-wrap.studios {
    grid-template-rows: repeat(auto-fill, 45px);
}

#app .overview .favourite.studio {
    background-color: rgb(var(--ksyoz-color-background-d)) !important;
}

.overview .favourite.studio {
    font-size: 12px;
    min-height: 45px;
    max-height: 45px;
}

.overview .favourite.studio::after {
    display: none;
}

#app .tooltip {
    background: rgb(var(--ksyoz-color-background));
}

#app .tooltip.animate-position.bottom>.title {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .tooltip,
#app .tooltip.bottom:after {
    border-top-color: rgb(var(--ksyoz-color-background));
}

#app .animate-position>.content {
    padding: 8px 12px;
}

#app .favourites.preview .favourites-wrap.characters .favourite:nth-child(1) {
    border-color: rgb(255, 215, 0);
}

#app .favourites.preview .favourites-wrap.characters .favourite:nth-child(2) {
    border-color: rgb(192, 192, 192);
}

#app .favourites.preview .favourites-wrap.characters .favourite:nth-child(3) {
    border-color: rgb(206, 137, 70);
}

/* /////////ENTRIES///////// */

#app .overview .section-header {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    height: 20px;
    color: white;
    font-weight: 700;
}

#app .activity-feed-wrap>h2>.el-dropdown {
    margin-top: -10px;
}

#app .el-dropdown-menu {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .user .activity-feed-wrap .section-header .el-dropdown-menu__item {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .user .activity-feed-wrap .section-header .el-dropdown-menu__item:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .el-textarea {
    background: rgb(var(--ksyoz-color-background-t));
}

#app .input .el-textarea__inner {
    border-bottom: 2px solid rgb(var(--ksyoz-color-brightest));
    border-radius: var(--curvyness);
    background: rgb(var(--ksyoz-color-background));
}

#app .actions>.button.cancel {
    background: rgb(var(--ksyoz-color-background-d));
    color: rgb(var(--ksyoz-color-brighter));
}

#app .actions>.button {
    background: rgb(var(--ksyoz-color-main));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .activity-edit>.markdown-editor {
    background: rgb(var(--ksyoz-color-background));
    color: rgb(var(--ksyoz-color-brighter));
}

#app .activity-edit>.markdown-editor>div:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app [title="Link"],
#app [title="Image"],
#app [title="Youtube Video"],
#app [title="WebM Video"] {
    color: rgb(var(--ksyoz-color-brighter));
}

.activity-feed {
    max-height: var(--feed-height);
    overflow: auto;
}

#app .activity-entry>.wrap,
#app .reply-wrap>.activity-replies>.reply {
    border: var(--activity-border) solid rgb(var(--ksyoz-color-main));
    border-radius: var(--curvyness-activity);
    transition: var(--activity-time);
    background: rgb(var(--ksyoz-color-background));
    color: rgb(var(--ksyoz-color-post));
}

#app .details>.entry-dropdown {
    background: none;
}

.site-theme-dark .el-dropdown-menu {
    background: rgb(var(--ksyoz-color-background-d));
}

.el-dropdown-menu__item {
    color: rgb(var(--ksyoz-color-brighter));
}

#app svg.svg-inline--fa.fa-angle-down.fa-w-10:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .activity-entry>.wrap>.time {
    color: rgb(var(--ksyoz-color-brighter));
    filter: var(--drop-shadow);
}

#app .activity-entry>.wrap>.time:hover {
    background: none;
}

#app .activity-entry>.wrap>.time .action.active {
    color: rgb(var(--ksyoz-color-main));
}

#app .wrap>.time>.has-label:hover.has-label::before {
    display: none;
}

#app .wrap>.time>.extras-dropdown .el-dropdown-link {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .wrap>.time>.extras-dropdown .el-dropdown-link:hover {
    color: rgb(var(--ksyoz-color-main));
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
    background: rgb(var(--ksyoz-color-main));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .wrap>.actions,
#app .wrap>.action.likes .button {
    color: rgb(var(--ksyoz-color-main-d));
    filter: var(--drop-shadow);
}

#app .action.likes .button:hover,
.like-wrap.thread_comment .button:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .wrap>.actions .action:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .action.likes .button .fa-heart,
#app .like-wrap.thread_comment .button .fa-heart {
    stroke: rgb(var(--ksyoz-color-main-d));
}

#app .action.likes .button .fa-heart:hover,
#app .like-wrap.thread_comment .button .fa-heart:hover {
    stroke: rgb(var(--ksyoz-color-main));
}

#app .users>.user {
    border-radius: var(--curvyness-social);
    border: var(--border-socials) solid rgb(var(--ksyoz-color-main));
}

#app .activity-entry>.wrap:hover {
    border: var(--activity-border) solid rgba(var(--ksyoz-color-main), .5);
    transition: var(--activity-time);
}

#app .reply-wrap>.activity-replies>.activity-edit>.reply {
    background: rgb(var(--ksyoz-color-background));
    border: var(--activity-border) solid rgb(var(--ksyoz-color-main));
}

#app .wrap>.list.small .cover {
    transition: var(--transition-img);
    width: 50px;
}

#app .activity-entry>.wrap:hover .list.small>.cover {
    transition: var(--transition-img);
    width: 410px;
    filter: blur(8px) opacity(25%);
}

#app .activity-entry.full-width>.wrap:hover>.list.small>.cover {
    transition: var(--transition-img);
    width: 854px;
}

#app .activity-entry>.wrap:hover>.list.small>.details>.status {
    margin-left: -42px;
    transition: var(--transition-txt);
}

#app .wrap>.list.small>.details .status {
    transition: var(--transition-txt);
    filter: var(--drop-shadow);
    color: rgb(var(--ksyoz-color-bright));
}

#app .wrap>.list.small>div>div.status>a {
    width: 230px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(var(--ksyoz-color-main));
}

#app .reply-wrap>.activity-replies>.reply>.header>.actions,
#app .reply-wrap>.activity-replies>.reply>.header>.actions .action {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .reply-wrap>.activity-replies>.reply>.header>.actions .action .action:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .reply>.header>.name {
    filter: var(--drop-shadow);
    color: rgb(var(--ksyoz-color-main));
    line-height: 15px;
}

#app .text .name {
    filter: var(--drop-shadow);
    color: rgb(var(--ksyoz-color-main));
    padding-top: 10px;
    line-height: 15px;
    font-size: 14px;
}

#app .activity-feed-wrap>.activity-feed {
    max-height: var(--feed-height);
    overflow: auto;
}

.activity-extras-dropdown .icon svg {
    color: rgb(var(--ksyoz-color-brightest)) !important;
}

#app .time .action:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .el-dialog__body {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .action.likes>.like-wrap.activity_reply>.users {
    background: transparent;
}

#app .like-wrap.activity>.users {
    background: transparent;
}

#app .embed {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .embed>.wrap {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .embed>.wrap>.title {
    color: rgb(var(--ksyoz-color-main));
}

#app .donator-badge {
    background: rgb(var(--ksyoz-color-background-d));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .has-label:before {
    display: none !important;
}

/* /////////LOAD MORE///////// */

#app .load-more {
    border-radius: var(--curvyness-loadmore);
    background: rgb(var(--ksyoz-color-background-d));
    padding: 16px !important;
    font-size: 17px;
    border-width: 4px;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: none solid none solid;
    transition: var(--loadmore-time);
    width: 95%;
    margin: 20px auto 20px auto !important;
    color: rgb(var(--ksyoz-color-brighter));
}

#app .load-more:hover {
    border-width: 12px;
    width: 100%;
    color: rgb(var(--ksyoz-color-main));
}

/* /////////FOOTER///////// */

#app .wrap {
    max-width: var(--head-width);
    margin: auto !important;
}

#app .wrap>.footer {
    border-radius: var(--curvyness) var(--curvyness) 0px 0px;
    background: rgb(var(--ksyoz-color-background));
    color: rgb(var(--ksyoz-color-header));
    position: relative;
}

#app .wrap>.footer::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--footer-img);
    animation: stars 20s infinite linear;
}

#app .container>.links {
    margin: auto;
    margin-left: inherit;
}

#app .theme-selector>h2 {
    display: none;
}

.page-content .wrap:has(.footer) .theme-selector {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.theme-preview:not(.default, .dark) {
    display: none;
}

body.site-theme-dark .theme-preview.dark {
    display: none;
}

body:not(.site-theme-dark) .theme-preview.default {
    display: none;
}

.theme-preview:is(.default, .dark) {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: none;
    font-size: 0;
    background-image: url(https://files.catbox.moe/e9nqyi.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: rgb(92, 124, 148);
    overflow: hidden
}

.theme-preview.dark::after {
    content: '';
    display: block;
    height: 0;
    width: 2px;
    background: rgb(var(--ksyoz-color-main));
    top: 5px;
    left: 0;
    position: absolute;
    rotate: -35deg;
    animation: strikethrough 0.2s linear forwards;
}

.text div.markdown {
    scrollbar-width: none;
}

.theme-preview.default::after {
    content: '';
    display: block;
    height: 0;
    width: 2px;
    background: rgb(var(--ksyoz-color-main));
    top: 5px;
    left: 0;
    position: absolute;
    rotate: -35deg;
    animation: strikethrough 0.2s linear reverse forwards;
}

.el-tooltip__popper.is-dark {
    font-size: 0;
}

.el-tooltip__popper.is-dark::after {
    content: 'Scroll Behaviour';
    font-size: 12px;
}

#app .container>.links a {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .container>.links a:hover {
    color: rgb(var(--ksyoz-color-main));
}

.footer [href="https://discord.gg/TF428cr"]::before,
.footer [href="https://twitter.com/AniListco"]::before,
.footer [href="https://www.facebook.com/AniListco"]::before,
.footer [href="https://github.com/AniList"]::before {
    content: "";
}

/* /////////BADGES///////// */

#app .header>.name::after {
    content: "⌈ Audience ⌋";
    font-size: 10px;
    color: white;
    display: block;
    padding-left: 2px;
}

#app .header>a[href="/user/Ksyoz/"].name::after {
    content: "★ Lead Actress ★" !important;
}

#app .header>a[href="/user/BrainyElric/"].name::after {
    content: "⇒ Annoying Brat ⇐" !important;
}

#app .header>a[href="/user/Smitch/"].name::after,
#app .header>a[href="/user/TeeqZz/"].name::after,
#app .header>a[href="/user/Markizz/"].name::after,
#app .header>a[href="/user/TropicalMarc/"].name::after,
#app .header>a[href="/user/Champi/"].name::after,
#app .header>a[href="/user/ThunderBlaze/"].name::after,
#app .header>a[href="/user/Epic/"].name::after,
#app .header>a[href="/user/Heavenly/"].name::after,
#app .header>a[href="/user/Ameer/"].name::after,
#app .header>a[href="/user/Robiracer/"].name::after,
#app .header>a[href="/user/Ziombal/"].name::after,
#app .header>a[href="/user/MrMediocretaste/"].name::after,
#app .header>a[href="/user/RizzGodThotSlayer/"].name::after,
#app .header>a[href="/user/Rirnok/"].name::after,
#app .header>a[href="/user/PratGreninja/"].name::after {
    content: "✩ Supporting Actor ✩" !important;
}

#app .header>a[href="/user/Noya/"].name::after,
#app .header>a[href="/user/dazra/"].name::after,
#app .header>a[href="/user/kunigami/"].name::after,
#app .header>a[href="/user/Ginchan/"].name::after {
    content: "✩ Supporting Actress ✩" !important;
}

#app .header>a[href="/user/Kusogaki/"].name::after {
    content: "✉ Mailman ✉" !important;
}

/* /////////LISTS///////// */

#app .el-input--prefix .el-input__inner {
    background: rgb(var(--ksyoz-color-background-d));
    color: rgb(var(--ksyoz-color-brighter));
}

#app .filter-group .group-header {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .filters>.filter-group .active {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .filters>.filter-group {
    color: rgb(var(--ksyoz-color-bright));
}

#app .filters>.filter-group .active {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .medialist .filters .filter-group:first-child>span {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    text-transform: lowercase;
}

#app .theme-switch {
    background: rgb(var(--ksyoz-color-background-d));
    color: rgb(var(--ksyoz-color-brightest));
    margin-top: 20px;
}

#app .theme-switch .active {
    color: rgb(var(--ksyoz-color-main));
}

#app .medialist.cards .entry-card .edit {
    background: rgb(var(--ksyoz-color-main));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .medialist.cards .entry-card .title:hover {
    white-space: normal;
}

#app .medialist.cards .entry-card:hover {
    transform: scale(var(--list-scale));
    transition: var(--list-time);
}

#app .medialist.cards .section-name {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    text-transform: lowercase;
    color: rgb(var(--ksyoz-color-brightest));
}

#app .medialist.cards .entry-card .progress,
#app .medialist.cards .entry-card .score {
    color: rgb(var(--ksyoz-color-main));
}

#app .list-entries>.entry-card>.title {
    background: rgba(var(--ksyoz-color-overlay), 0.8);
    border-radius: 0px;
    min-height: 62px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    backdrop-filter: blur(var(--blur-backdrop));
    width: 100%;
    border-radius: 0px 0px var(--curvyness-list) var(--curvyness-list);
    z-index: -1;
}

#app .list-entries>.entry-card>.cover {
    width: 100%;
    z-index: -2;
}

#app .list-entries .entry-card {
    transition: var(--list-time);
    z-index: 2;
}

#app .lists {
    z-index: 1;
}

#app .header>.content {
    height: 100%;
    padding: 50px;
    padding-bottom: 0px;
}

#app .list-editor-wrap .list-editor .body {
    background: rgb(var(--ksyoz-color-background));
}

#app .list-editor-wrap .list-editor .body .input-title {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .list-editor-wrap .el-input__inner {
    background: rgb(var(--ksyoz-color-background-d));
    color: rgb(var(--ksyoz-color-brighter));
}

#app .list-editor-wrap .header .save-btn {
    background: rgb(var(--ksyoz-color-main));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .el-checkbox__input.is-checked.el-checkbox__label {
    background-color: rgb(var(--ksyoz-color-main));
    border-color: rgb(var(--ksyoz-color-main));
}

#app .el-checkbox__input.is-checked+.el-checkbox__label {
    color: rgb(var(--ksyoz-color-main));
}

#app .custom-lists>.checkbox>.el-checkbox,
#app .el-checkbox__label {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .list-editor-wrap .el-textarea__inner {
    background: rgb(var(--ksyoz-color-background-d));
    color: rgb(var(--ksyoz-color-brighter));
}

#app .list-editor-wrap .list-editor .body .delete-btn {
    background: rgb(var(--ksyoz-color-background-d));
    color: rgb(var(--ksyoz-color-brighter));
}

#app .el-input--small .el-input__inner {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .el-select-dropdown__item {
    color: rgb(var(--ksyoz-color-brightest));
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item.selected.hover,
.el-select-dropdown__item:hover {
    background-color: rgb(var(--ksyoz-color-main));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .el-slider__button {
    border-color: rgb(var(--ksyoz-color-main));
}

#app .el-slider__runway {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .hohStepper {
    opacity: 1;
    color: rgb(var(--ksyoz-color-brightest));
}

#app .random-btn,
#app .hohButton {
    background: rgb(var(--ksyoz-color-main));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .list-editor-wrap .list-editor .body .delete-btn:hover {
    color: rgb(var(--color-white));
    background: rgb(var(--color-red));
}

#app .medialist .release-status.RELEASING {
    background: rgb(var(--ksyoz-color-main));
    box-shadow: 0 0 5px rgb(var(--ksyoz-color-main));
}

#app .medialist .release-status.NOT_YET_RELEASED {
    background: rgb(var(--ksyoz-color-brightest));
    box-shadow: 0 0 5px rgb(var(--ksyoz-color-brightest));
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background-color: rgb(var(--ksyoz-color-main));
    color: rgb(var(--ksyoz-color-brightest));
}

.el-select-dropdown__item {
    color: rgb(var(--ksyoz-color-brightest));
}

.el-select-dropdown__list {
    background: rgb(var(--ksyoz-color-background-d));
}

.el-select-dropdown__item.selected {
    color: rgb(var(--ksyoz-color-main));
}

.el-picker-panel {
    border: 1px solid rgb(var(--ksyoz-color-background-d));
    background: rgb(var(--ksyoz-color-background-d));
    color: rgb(var(--ksyoz-color-bright));
}

.el-picker-panel__icon-btn,
.el-date-picker__header-label {
    color: rgb(var(--ksyoz-color-brightest));
}

.el-date-table td.next-month,
.el-date-table td.prev-month {
    color: rgb(var(--ksyoz-color-brightest));
}

.el-date-table th {
    color: rgb(var(--ksyoz-color-bright));
    border-bottom: 1px solid rgb(var(--ksyoz-color-background));
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
    color: rgb(var(--ksyoz-color-main));
}

.el-date-table td.current:not(.disabled) span {
    background-color: rgb(var(--ksyoz-color-main));
}

.el-picker-panel__icon-btn:hover,
.el-date-picker__header-label:hover {
    color: rgb(var(--ksyoz-color-main));
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: rgb(var(--ksyoz-color-main));
    border-color: rgb(var(--ksyoz-color-main));
}

.el-date-table td.available:hover {
    color: rgb(var(--ksyoz-color-main));
}

.el-date-table td.today span {
    color: rgb(var(--ksyoz-color-main));
}

/* /////////FAVORITES///////// */

#app .section-header {
    color: rgb(var(--ksyoz-color-brightest));
    font-size: 16px;
}

#app .section-header>.actions>div {
    background: rgb(var(--ksyoz-color-main));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .favourites>.favourites-wrap {
    overflow: auto;
    padding: 20px !important;
    grid-gap: 10px;
    border-radius: var(--curvyness-fav);
    background: rgb(var(--ksyoz-color-background-d));
}

#app .favourites>.favourites-wrap>.favourite {
    border-radius: var(--curvyness-fav);
    transition: var(--favourite-time);
}

/* /////////STATS///////// */

#app .stats>.filters>.filter-wrap>.filter-group>.group-header,
#app .hohStatsTrigger {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .hohStatsTrigger:hover,
#app .stats>.filters>.filter-wrap>.filter-group a:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .stats>.filters>.filter-wrap>.filter-group a {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .filter-group a.router-link-active {
    color: rgb(var(--ksyoz-color-brightest));
    background: rgb(var(--ksyoz-color-background-d));
}

#app .stats>.stats-wrap>.overview>.highlights {
    background: rgb(var(--ksyoz-color-background-d));
    border-radius: var(--curvyness);
    padding: 15px !important;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), .15), 0 4px 4px rgba(var(--color-shadow-blue), .05);
}

#app .stats>.stats-wrap>.overview>.highlights>.highlight .value {
    color: rgb(var(--ksyoz-color-main));
}

#app .stats>.stats-wrap>.overview>.highlights>.highlight .label {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .stats>.stats-wrap>.overview>.highlights>.highlight .circle {
    background: transparent;
    box-shadow: none;
}

#app .stats>.stats-wrap>.overview>.highlights>.highlight .icon {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .heading.score>.switch,
#app .heading>.switch,
#app .pie-charts>.pie-chart.vertical-layout {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .heading .switch .option {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .heading .switch .option:hover {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .switch>.options>.option.active {
    background: rgb(var(--ksyoz-color-main));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .heading .switch .option:hover {
    background: rgb(var(--ksyoz-color-main));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .bar-chart-wrap {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .bar-chart-wrap>.bar-chart>.bar-wrap>.bar {
    background: rgb(var(--ksyoz-color-main));
}

#app .bar-chart-wrap>.x-axis {
    background: rgb(var(--ksyoz-color-background));
}

#app .draggable>.horizontal-scroller {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .line-chart-wrap {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .line-chart-wrap>.line-chart>.area {
    fill: rgb(var(--ksyoz-color-brightest));
}

#app .line-chart-wrap>.line-chart>.line {
    stroke: rgb(var(--ksyoz-color-main));
}

#app .pie-charts>.pie-chart.vertical-layout>.title {
    margin-bottom: 15px;
}

#app .stat-card {
    background: rgb(var(--ksyoz-color-background));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .stat-card > .title {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .stat-card > .count {
    background: rgb(var(--ksyoz-color-main));
}

/* /////////SOCIAL///////// */

#app .user-social>.filters>.filter-group span {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .user-social>.filters>.filter-group span:active {
    background: rgb(var(--ksyoz-color-background-d));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .user-social>.filters>.filter-group>.group-header.active {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .user-social>.filters>.filter-group .group-header {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .user-follow>.wrap>.follow-card,
#app .hohSocialContent .follow-card {
    border-radius: var(--curvyness-social);
    background-color: rgba(0, 0, 0, 0.3);
    transition: var(--social-time);
}

#app .user-follow>.wrap>.follow-card:hover,
.hohSocialContent .follow-card:hover {
    transform: scale(var(--social-scale));
    transition: var(--social-time);
}

#app .wrap>.follow-card>.avatar,
#app .hohSocialContent .avatar {
    border-radius: var(--curvyness-social);
    border: var(--border-socials) solid rgb(var(--ksyoz-color-main));
}

#app .wrap>.follow-card>.avatar>.name {
    background: rgba(0, 0, 0, 0.4);
}

#app .hohThemeSwitch .active {
    color: rgb(var(--ksyoz-color-main));
}

#app .hohThemeSwitch {
    background: rgb(var(--ksyoz-color-background-d));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .user-social>.user-comments>.wrap>.title {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .user-social>.user-comments>.wrap>.comment-wrap {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .grow>.comment>.header-margin>.actions {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .grow>.comment>.header-margin>.actions:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .grow>.comment>.header-margin>.user {
    color: rgb(var(--ksyoz-color-main));
}

#app .grow>.comment>.header .time {
    color: rgb(var(--ksyoz-color-bright));
}

#app .grow>.comment>.markdown {
    color: rgb(var(--ksyoz-color-brighter));
}

/* /////////REVIEWS///////// */

#app .user-reviews .no-reviews {
    color: rgb(var(--ksyoz-color-brightest));
}

/* /////////SUBMISSIONS///////// */

#app .user>.content.container>.submissions>.filters>.filter-group .group-header {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .filters>.filter-group span {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .filters>.filter-group span.active {
    color: rgb(var(--ksyoz-color-brightest));
    background: rgb(var(--ksyoz-color-background-d));
}

#app .submissions-wrap>.submission {
    background: rgb(var(--ksyoz-color-background-d));
}

#app .submission>.content {
    padding: 14px 18px;
    color: rgb(var(--ksyoz-color-brightest));
}

#app .submission>.content>.notes {
    color: rgb(var(--ksyoz-color-bright));
}

#app .submission>.content>.time {
    color: rgb(var(--ksyoz-color-brighter));
}

#app .status.accepted {
    background: rgb(var(--ksyoz-color-main));
    color: rgb(var(--ksyoz-color-brightest));
}

#app .status.rejected {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .new-badge {
    display: none;
}

/* /////////SEARCH///////// */

#app .quick-search.visible>.input,
#app .quick-search.visible>.results>.result-col {
    background: rgb(var(--ksyoz-color-background));
}

#app .input .icon,
#app .input .input {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .input .icon:hover,
#app .input .input:hover {
    color: rgb(var(--ksyoz-color-main));
}

#app .input .hint {
    color: rgb(var(--ksyoz-color-brighter));
}

.site-theme-dark .quick-search .result-col .title {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .result:hover {
    background-color: rgb(var(--ksyoz-color-main));
}

#app .result .info {
    color: rgb(var(--ksyoz-color-bright));
}

#app .result .name {
    color: rgb(var(--ksyoz-color-brightest));
}

#app .view-all a {
    color: rgb(var(--ksyoz-color-brighter));
}

/* GIF FOR FAVORITES */

#app a.favourite {
    background-color: rgb(var(--ksyoz-color-background-d));
}

#app a.favourite[href*="character/203384/"]:hover {
    background-image: var(--gif-akane) !important;
}

#app a.favourite[href*="character/141122/"]:hover {
    background-image: var(--gif-kei) !important;
}

#app a.favourite[href*="character/141061/"]:hover {
    background-image: var(--gif-lena) !important;
}

#app a.favourite[href*="character/162248/"]:hover {
    background-image: var(--gif-delta) !important;
}

#app a.favourite[href*="character/40881/"]:hover {
    background-image: var(--gif-mikasa) !important;
}

#app a.favourite[href*="character/126374/"]:hover {
    background-image: var(--gif-yotsuba) !important;
}

#app a.favourite[href*="character/36828/"]:hover {
    background-image: var(--gif-asuna) !important;
}

#app a.favourite[href*="character/127596/"]:hover {
    background-image: var(--gif-rui) !important;
}

#app a.favourite[href*="character/90169/"]:hover {
    background-image: var(--gif-violet) !important;
}

#app a.favourite[href*="character/5186/"]:hover {
    background-image: var(--gif-lucy) !important;
}

#app a.favourite[href*="character/35253/"]:hover {
    background-image: var(--gif-mayuri) !important;
}

#app a.favourite[href*="character/75284/"]:hover {
    background-image: var(--gif-erina) !important;
}

#app a.favourite[href*="character/136070/"]:hover {
    background-image: var(--gif-shinobu) !important;
}

#app a.favourite[href*="character/64511/"]:hover {
    background-image: var(--gif-bambi) !important;
}

#app a.favourite[href*="character/171759/"]:hover {
    background-image: var(--gif-vermeil) !important;
}

#app a.favourite[href*="character/138789/"]:hover {
    background-image: var(--gif-cha) !important;
}

#app a.favourite[href*="character/141060/"]:hover {
    background-image: var(--gif-shin) !important;
}

#app a.favourite[href*="character/40882/"]:hover {
    background-image: var(--gif-eren) !important;
}

#app a.favourite[href*="character/210/"]:hover {
    background-image: var(--gif-urahara) !important;
}

#app a.favourite[href*="character/130050/"]:hover {
    background-image: var(--gif-giyu) !important;
}

#app a.favourite[href*="character/141694/"]:hover {
    background-image: var(--gif-akaza) !important;
}

#app a.favourite[href*="character/6356/"]:hover {
    background-image: var(--gif-joseph) !important;
}

#app a.favourite[href*="character/126635/"]:hover {
    background-image: var(--gif-megumi) !important;
}

#app a.favourite[href*="character/1533/"]:hover {
    background-image: var(--gif-katsura) !important;
}

#app a.favourite[href*="character/2282/"]:hover {
    background-image: var(--gif-okita) !important;
}

#app a.favourite[href*="character/123212/"]:hover {
    background-image: var(--gif-ayanokouji) !important;
}

/* /////////MEDIA QUERRIES///////// */

@media (min-width: 1040px) and (max-width: 1540px) {
    #app .content.container {
        max-width: var(--nav-width);
    }
}

