@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow Condensed");

:root {
    --logo: url("https://i.imgur.com/MsUa7r9.png");
    --logo-size: 45px;
    --avatar-image: url("https://i.imgur.com/fB6vXhw.png");
    --left-image: url("https://i.imgur.com/McPaHai.jpeg");
    --background-img: url("https://i.imgur.com/SWu2HeA.jpeg");
    --left-bracket: url("https://i.imgur.com/w2LPdfp.png");
    --right-bracket: url("https://i.imgur.com/Ms1qXXt.png");
    --left-side-width: 17%;
    --right-side-width: 83%;
    --ksyoz-color-white: white;
    --ksyoz-color-black: black;
}

.nav:not(.transparent) {
    top: -350px;
}

/* /////////REMOVING SCROLLBARS///////// */

.user .about>div.content-wrap {
    scrollbar-width: none;
}

/* /////////LEFT SIDE///////// */

/* /////////HEADER NAV///////// */

#nav {
    width: var(--left-side-width);
    height: 100%;
    background-image: var(--left-image);
    position: fixed;
    top: 0 !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-theme-dark .nav-unscoped.transparent:hover {
    color: var(--ksyoz-color-black);
}

#app #nav .wrap {
    display: grid;
    margin: 0;
    /*margin: 0 110px;*/
    /*transform: perspective(2000px) rotateY(20deg);*/
    padding: 0;
    /*padding: 0 18px;*/
    grid-template-columns: 1fr 1fr;
}

#app #nav .wrap>.links>.link {
    position: relative;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ksyoz-color-black);
    z-index: 1;
    color: var(--ksyoz-color-black);
    width: 100%;
}

#app #nav .wrap>.links>.link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--ksyoz-color-white);
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1);
}

#app #nav .wrap>.links>.link:hover::before {
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

#app #nav .wrap>.links>.link:hover {
    color: var(--ksyoz-color-white);
}

#app .wrap>.links {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    grid-column: span 2;
    text-transform: uppercase;
    font-weight: 500;
    font-family: YakuHanJP, "Barlow Condensed", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Noto Sans JP", -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "游ゴシック", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    align-self: baseline;
}

#app span.browse-wrap {
    display: none;
}

#app #nav .logo img {
    height: unset;
    width: 270px;
    content: var(--logo);
}

#app #nav .wrap>.logo {
    grid-column: span 2;
    margin: auto;
    margin-top: 100px;
}

#app #nav .wrap>.user {
    grid-column: span 2;
    margin: 0 auto;
    align-self: baseline;
}

#app #nav .user .chevron {
    display: none;
}

#app #nav .wrap>.search {
    display: none;
    margin: 0 auto;
    align-self: baseline;
}

#app #nav .user .notification-dot.large-count {
    display: none;
}

#app #nav .user .avatar {
    margin-right: 120px;
    border-radius: 20px;
    border: 2px solid var(--ksyoz-color-white);
    width: var(--logo-size);
    height: var(--logo-size);
}

#app #nav .hohDismiss {
    display: none;
}

/* /////////AVATAR DROPDOWN///////// */

#app #nav .wrap>.user>.user-wrap>.dropdown {
    opacity: 1;
    animation: none;
    background: transparent;
    box-shadow: none;
}

#app #nav .wrap>.user>.user-wrap {
    height: calc(var(--logo-size) + 20px);
    transform: translateY(20px);
}

#app #nav .dropdown:before {
    display: none;
}

#app #nav .primary-link {
    color: var(--ksyoz-color-white);
}

#app #nav .primary-link:hover {
    color: var(--ksyoz-color-black);
}

#app #nav .primary-link:nth-child(1) {
    font-size: 0;
    top: -37px;
    left: -20px;
    position: absolute;
}

#app #nav .primary-link:nth-child(1)::after {
    content: attr(href);
    font-size: 15px;
}

#app #nav .dropdown>.primary-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    margin: 0;
    padding: 0;
}

#app #nav .primary-link:nth-child(2),
#app #nav .primary-link:nth-child(3) {
    font-size: 0;
}

#app #nav .primary-link:nth-child(2)>.icon,
#app #nav .primary-link:nth-child(3)>.icon {
    font-size: 25px;
    margin-left: 6px;
    position: absolute;
}

#app #nav .primary-link>.icon {
    color: var(--ksyoz-color-white);
}

#app #nav .primary-link>.icon:hover {
    color: var(--ksyoz-color-black);
}

#app #nav .primary-link:nth-child(1) svg {
    display: none;
}

.user-wrap:hover:after {
    display: none;
}

/* /////////RIGHT SIDE///////// */

#app .page-content {
    width: var(--right-side-width);
    position: absolute;
    right: 0;
    background: var(--background-img) right top / 83% fixed;
}

#app .overview .content-wrap {
    background: var(--ksyoz-color-white);
    color: var(--ksyoz-color-black);
}

/* /////////BANNER///////// */

#app .banner {
    visibility: hidden;
}

#app .banner-content {
    visibility: visible !important;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    bottom: 70px;
}

#app .banner-content>.avatar {
    visibility: hidden;
    content: var(--avatar-image);
    max-height: none;
    max-width: 700px;
    position: absolute;
    left: 45%;
    top: -130px;
    margin-left: -500px;
}

#app .name-wrapper {
    font-family: YakuHanJP, "Barlow Condensed", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Noto Sans JP", -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "游ゴシック", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    text-transform: uppercase;
    position: absolute;
    margin: auto;
    left: 74%;
    /*top: 180px;*/
}

#app .banner-content h1.name {
    font-size: 100px;
    font-weight: 500;
}

#app .banner>.container>.banner-content>.actions {
    position: absolute;
    top: 0;
}

#app .mod-badge-wrap.follower-badge {
    position: absolute;
    top: 60px;
    background: var(--ksyoz-color-white);
    color: var(--ksyoz-color-black);
}

#app .mod-badge-wrap.follower-badge:hover {
    background: var(--ksyoz-color-black);
    color: var(--ksyoz-color-white);
}

#app .banner>.container>.banner-content>.actions>.dropdown {
    display: none;
}

/* /////////NAVIGATION///////// */

#app .header-wrap>.nav-wrap>.nav {
    background: rgba(255, 255, 255, 0.5);
    padding: 0;
    position: absolute;
    top: 38px;
    right: 0;
    text-align: right;
    width: unset;
    padding-right: 35px;
    z-index: 1;
}

#app .header-wrap>.nav-wrap {
    background: none;
}

#app .nav-wrap>.nav .link {
    font-family: YakuHanJP, "Barlow Condensed", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Noto Sans JP", -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "游ゴシック", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 24px;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--ksyoz-color-black);
    padding: 0 10px;
    margin: 0;
    z-index: 1;
    background: transparent;
    transition: 0.5s;
}

#app .nav-wrap>.nav .link:hover {
    color: var(--ksyoz-color-white);
    background: transparent;
}

#app .nav-wrap>.nav .link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--ksyoz-color-black);
    z-index: -1;
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

#app .nav-wrap>.nav .link:hover::before {
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1);
}

#app .nav-wrap>.nav .router-link-active {
    background: var(--ksyoz-color-black) !important;
    color: var(--ksyoz-color-white) !important;
}

#app .user>.user-wrap>.dropdown>.footer {
    display: none;
}

/* /////////FOLLOWING ACTIONS///////// */

#app .actions>.nav-btn {
    background: var(--ksyoz-color-white);
    color: var(--ksyoz-color-black);
}

#app .actions>.nav-btn:hover {
    background: var(--ksyoz-color-black);
    color: var(--ksyoz-color-white);
}

/* /////////OVERIEW///////// */

#app .content>.overview {
    margin-top: 700px;
    display: flex;
    flex-direction: column;
}

/* /////////BIO///////// */

#app .markdown img {
    max-height: unset;
}

/* /////////MILESTONS///////// */

#app .section>.stats-wrap>.list-stats>.footer {
    display: none;
}

/* /////////GENRE///////// */

#app .desktop:nth-child(3) {
    display: none
}

/* /////////FAVORITES///////// */

#app .overview>.section>.favourites {
    display: none;
}

/* /////////LISTS///////// */

#app .container:has(>.medialist) {
    position: absolute;
    background: black right top / 100% fixed;
    min-height: 110dvh;
    max-width: 100%;
    top: 0;
    right: 0;
}

#app .container:has(>.medialist)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://i.imgur.com/4bBGdPC.png) top left repeat;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

/* /////////FAVORITE TAB///////// */

#app .container:has(>.favourites) {
    position: absolute;
    background: black right top / 100% fixed;
    min-height: 110dvh;
    max-width: 100%;
    top: 0;
    right: 0;
}

#app .container:has(>.favourites)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://i.imgur.com/4bBGdPC.png) top left repeat;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

/* /////////STATS///////// */

#app .container:has(>.stats) {
    position: absolute;
    background: black right top / 100% fixed;
    min-height: 110dvh;
    max-width: 100%;
    top: 0;
    right: 0;
}

#app .container:has(>.stats)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://i.imgur.com/4bBGdPC.png) top left repeat;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

#app .stats {
    margin: 180px auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

#app .stats>.filters>.filter-wrap>.filter-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app .stats>.filters>.filter-wrap>.filter-group a {
    color: var(--ksyoz-color-white);
    margin: 4px 10px;
}

#app .stats>.filters>.filter-wrap>.filter-group a:hover {
    color: var(--ksyoz-color-black);
    background-color: var(--ksyoz-color-white);
    transition: .2s ease-in;
}

#app .stats>.filters>.filter-wrap>.filter-group a.router-link-active {
    color: var(--ksyoz-color-black);
    background: var(--ksyoz-color-white);
}

#app .stats>.filters>.filter-wrap>.filter-group .group-header {
    color: white;
    margin: 0;
    font-size: 16px;
}

#app .stats>.stats-wrap>.overview>.highlights {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 0;
    width: 100%;
}

#app .highlight .value {
    display: flex;
    justify-content: center;
    color: black;
}

#app .highlight .label {
    color: var(--ksyoz-color-black);
}

#app .highlight .wrap {
    padding-left: 0;
}

#app .highlight .circle {
    visibility: hidden;
}

#app .hohStatsTrigger {
    visibility: hidden;
}

/* /////////SOCIAL///////// */

#app .container:has(>.user-social) {
    position: absolute;
    background: black right top / 100% fixed;
    min-height: 110dvh;
    max-width: 100%;
    top: 0;
    right: 0;
}

#app .container:has(>.user-social)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://i.imgur.com/4bBGdPC.png) top left repeat;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

#app .user-social {
    margin: 180px auto;
    position: relative;
    grid-template-columns: 1fr;
}

#app .user-social>.filters>.filter-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app .user-social .filter-group span {
    color: white;
    margin: 0 15px;
    padding: 0 10px;
    border-radius: 0px;
    transition: .2s ease-in;
    font-weight: 500;
}

#app .user-social .filter-group .group-header {
    display: none;
}

#app .user-social .filter-group span.active {
    background: white;
    color: black;
}

#app .user-social .filter-group span:hover {
    background: white;
    color: black;
}

#app .user-social .filter-group span::before {
    content: "";
    background: var(--left-bracket);
    position: absolute;
    left: -10px;
    top: -4px;
    width: 5px;
    height: 150%;
    background-size: contain;
}

#app .user-social .filter-group span::after {
    content: "";
    background: var(--right-bracket);
    position: absolute;
    right: -10px;
    top: -4px;
    width: 5px;
    height: 150%;
    background-size: contain;
}

#app .user-follow .follow-card {
    background: var(--ksyoz-color-white);
    border-radius: 0px;
    transition: .2s ease-in;
}

#app .user-follow .follow-card:hover {
    outline: 2px solid var(--ksyoz-color-white);
    background: var(--ksyoz-color-black);
    transition: .2 ease-in;
}

#app .follow-card:hover .name {
    color: black;
    opacity: 0.5;
}

#app .follow-card>.avatar>.name {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    bottom: 0;
    height: unset;
    font-family: YakuHanJP, "Barlow Condensed", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Noto Sans JP", -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "游ゴシック", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    transition: opacity .2s ease-in;
    background-color: var(--ksyoz-color-white);
}

/* TEMP */

#app .hohCount {
    display: none;
}

#app .hohThemeSwitch {
    display: none;
}

/* /////////REVIEWS///////// */

#app .container:has(>.user-reviews) {
    position: absolute;
    background: black right top / 100% fixed;
    min-height: 110dvh;
    max-width: 100%;
    top: 0;
    right: 0;
}

#app .container:has(>.user-reviews)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://i.imgur.com/4bBGdPC.png) top left repeat;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

#app .no-reviews {
    position: relative;
    background: var(--ksyoz-color-white);
    color: var(--ksyoz-color-black);
    margin: 180px auto;
    padding: 20px;
}

/* /////////SUBMISSIONS///////// */

#app .container:has(> .submissions) {
    position: absolute;
    background: black right top / 100% fixed;
    min-height: 110dvh;
    max-width: 100%;
    top: 0;
    right: 0;
}

#app .container:has(> .submissions)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://i.imgur.com/4bBGdPC.png) top left repeat;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

#app .submissions {
    margin: 180px auto;
    position: relative;
    grid-template-columns: 1fr;
}

#app .submissions>.filters>.filter-group .group-header {
    color: var(--ksyoz-color-white);
    display: none;
}

#app .submissions>.filters>.filter-group span.active {
    color: var(--ksyoz-color-black);
    background: var(--ksyoz-color-white);
}

#app .no-submissions {
    background: var(--ksyoz-color-white);
    color: var(--ksyoz-color-black);
    padding: 20px;
}

#app .submissions>.filters>.filter-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app .submissions>.filters>.filter-group span {
    color: white;
    margin: 0 15px;
    padding: 0 10px;
    border-radius: 0px;
    transition: .2s ease-in;
    font-weight: 500;
}

#app .submissions>.filters>.filter-group span:hover {
    background: white;
    color: black;
}

#app .submissions>.filters>.filter-group span::before {
    content: "";
    background: var(--left-bracket);
    position: absolute;
    top: -4px;
    width: 5px;
    height: 20%;
    background-size: contain;
    margin: 0 -15px;
}

#app .submissions>.filters>.filter-group span::after {
    content: "";
    background: var(--right-bracket);
    position: absolute;
    top: -4px;
    width: 5px;
    height: 20%;
    background-size: contain;
    margin: 0 10px;
}

/* /////////FOOTER///////// */

#app .footer {
    width: var(--right-side-width);
    background: black;
    color: #555;
    font-family: YakuHanJP, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Noto Sans JP", -apple-system,
        BlinkMacSystemFont, "Helvetica Neue", "游ゴシック", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    position: absolute;
    right: 0;
    display: none;
}