@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+JP:wght@300&display=swap");

:root {
    --logo: url("https://i.imgur.com/MsUa7r9.png");
    --left-image: url("https://i.imgur.com/McPaHai.jpeg");
}

/* /////////LEFT SIDE///////// */

/* /////////HEADER NAV///////// */

#nav {
    width: 360px;
    height: 100%;
    background-image: var(--left-image);
    position: fixed;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#app #nav .wrap {
    display: grid;
    margin: 0 110px;
    transform: perspective(2000px) rotateY(20deg);
}

#app #nav .wrap>.links>.link {
    padding: 18px 0px;
}

#app .wrap>.links {
    grid-template-columns: 1fr;
    display: grid;
    font-size: 20px;
}

#app span.browse-wrap {
    display: none;
}

#app #nav .logo img {
    height: unset;
    width: 80px;
}

/* /////////AVATAR DROPDOWN///////// */

#nav .wrap>.user>.user-wrap>.dropdown {
    opacity: 0;
}

/* /////////RIGHT SIDE///////// */

#app .page-content {
    width: 1560px;
    position: absolute;
    right: 0;
}

/* /////////BANNER///////// */

#app .banner {
    display: none;
}

/* /////////NAVIGATION///////// */

#app .nav-wrap>.nav .link {
    font-family: YakuHanJP, "Barlow Condensed", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Noto Sans JP", -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "游ゴシック", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
}

/* /////////FOOTER///////// */

#app .footer {
    width: 1560px;
    position: absolute;
    right: 0;
}